
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* html {
    font-family: "Montserrat", sans-serif;
  } */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

imm{
  width: 460px;
  height: 275px;
}
.ll:hover  i{
  transform: translateX(10px);
  transition: 0.5s ease-in-out;
}
.box span:hover p{
  font-size: 18px;
  transition: 0.5s ease-in-out;
}
.join span:hover p{
  font-size: 22px;
  transition: 0.5s ease-in-out;
}


.ff{
  right: 0px;
  top: 0px;
}

.note{
  width: 256px;
  border-radius: 24px;
  right: 256px;
  top:44px;
  rotate: -12deg;

}

